---
---

@import "{{ site.theme }}";
/* Social Icons */
.social{
    display: block;
    margin: 10px 0;
  }
  .social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .social ul li {
    display: inline-block;
    margin: 0 5px;
  }
  .social li a {
    font-size: 16px;
    color: #969394;
  }
  .social li a:hover {
    color: #6D6D6D;
  }

  .contact-list,
  .social-media-list {
      list-style: none;
      margin-left: 0;
  }

  div.col-sm-3 div.profile-about {
    margin-top: 10px;
    color: #8C8C8C;
  }

  .sidebar-nav {
    margin: 0;
    padding: 0;
  }
  .sidebar-nav li {
    margin: 0;
    list-style: none;
  }
  .sidebar-nav li::before {
    content: "»";
    margin-right: .5em;
  }
  div.col-sm-3 div.profile-about {
    margin-top: 10px;
    color: #8C8C8C;
  }

  .navigation {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 20px;
    list-style-type:none;
}
.navigation li {
    float: right;
    position: relative;
    list-style: none;
}
.navigation li a {
    color: #333;
    font-weight: normal;
    font-size: 12px;
    border-radius: 5px;
    padding: 8px 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    line-height:25px;
}
.navigation ul li a {
    border-radius: 0;
    padding: 5px 10px;
    margin:5px;
    font-weight: normal;
    text-transform: initial;
}
.navigation li > ul {
    background:white;
    position:absolute;
    list-style-type: none;
    top: 30px;
    margin: 0;
    padding: 0;
    border:2px solid #666;
    border-radius: 5px;
    left:0;
    display: none;
    min-width: 100%;
}
.navigation li:hover > ul {
    display: block;
    list-style: none;
}
.navigation li ul li {
    display: block;
    float: none;
    margin-left: 0;
}
.navigation li ul li a:hover {
    border-radius: 0;
    color: #444;
    background: #eeeeee;
}
.navigation > li a:hover, .navigation li > ul:hover + a, .navigation li.current > a {
    color: #86569A;
}
.navigation li.current > a {
    font-weight: bold
}
.navigation li a[href^=http]:after {
    font-family:"fontello";
    font-style: normal;
    font-weight: normal;
    content:'\e9c8';
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .3em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .3em;
}
.navigation .second-level {
    left: 100%;
    top: 0;
}
  
  

